<h3>Add New Client</h3>

<%= form_for @client do |f| %>

<% if @client.errors.any? %>
<div class="errors" style=color : red" >
<ul>
<% for message in @client.errors.full_messages %>
   <li><%= message %></li>
   <% end %>
</ul>
</div>
<% end %>

<!-- <label>Name: </label><label><br/> -->
<%= f.label :name %>
<%= f.text_field :name %><br>
<br>
<%= f.label :compnay_name %>
<%= f.text_field :company_name %><br>
<br>

<%= f.label :email_id %>
<%= f.text_field :email_id %><br>
<br>

<%= f.label :website %>
<%= f.text_field :website %><br>
<br>

<%= f.label :mobile %>
<%= f.text_field :mobile %><br>
<br>
<%= f.submit %>
<% end %>


