<h3><%= @project.name %></h3>
<p><%= @project.details %></p>




<% tasks = @project.tasks %>

<% over_due_tasks = tasks.where('is_completed = ? AND due_date < ?', false, Date.today) %>
<% incomplete_tasks = tasks.where('is_completed = ? AND due_date >= ?', false, Date.today) %>
<% completed_tasks = tasks.where('is_completed = ?', true) %>

<% data  = {"overdue": over_due_tasks.size, "incompleted": incomplete_tasks.size, "completed": completed_tasks.size }%>

<%= pie_chart (data) %>

<% dates = [] %>

<% @project.tasks.order('due_date').each do |task| %>
<% dates.push(["#{task.name}", (@project.start_date > task.due_date - 6.days) ? @project.start_date : (task.due_date - 6.days), task.due_date]) %>
<% end %>

<%= timeline dates %>

<h3> Total tasks - <%= tasks.size %></h3>

<% over_due_tasks = tasks.where('is_completed = ? AND due_date < ?', false, Date.today) %>
<h3> Overdue tasks </h3>
<ul>

	<% for task in over_due_tasks %>
	<li><%= task.name %> <small><%= time_ago_in_words(task.due_date) %> ago </small></li>
	<% overdue["#{task.name}"] = tasks.size %>
	<% end %>
</ul>


<% incomplete_tasks = tasks.where('is_completed = ? AND due_date >= ?', false, Date.today) %>
<h3> Incomplete tasks </h3>
<ul>

	<% for task in incomplete_tasks %>
	<li><%= task.name %> <small><%= time_ago_in_words(task.due_date) %> from now </small>
	<%= link_to "mark as complete", tasks_mark_as_complete_path(task_id: task.id) %></li>
	<% end %>
</ul>



<% completed_tasks = tasks.where('is_completed = ?', true) %>
<h3> Completed tasks </h3>
<ul>
	<% for task in completed_tasks %>
	<li><%= task.name %> <small><%= time_ago_in_words(task.updated_at) %> 
	<%= task.updated_at < Time.now ? "ago" : "from now" %>
	 </small>
	 <%= link_to "mark as incomplete", tasks_mark_as_incomplete_path(task_id: task.id) %></li>
	<% end %>
</ul>

<h3> Add task </h3>

<%= form_for ([@project,@project.tasks.build]) do |f| %>

	<label>Name: </label><br/>
	<%= f.text_field :name %><br/>

	<label>Due Date: </label><br/>
	<%= f.date_select :due_date %><br/>

	<label>Is completed? </label><br/>
	<%= f.check_box :is_completed %><br/>

	<%= f.hidden_field :project_id, value: @project.id %>
	
	<%= f.submit%>
<% end %>

